body {
	font-family: times new roman;
}
img {
	float: left;
}
p.content {
    font-size: 110%;
}
#footer {
	background-color: black;
	color: white;
	clear: both;
	text-align: center;
	padding: 10px
}
