body {
	font-family: times new roman;
}
img {
	float: left;
	height: 200PX;
	width: 145px;
}
p.content {
    font-size: 115%;
}
ul.entites {
	list-style-type: disc;
}
#footer {
	background-color: black;
	color: white;
	clear: both;
	text-align: center;
	padding: 10px
}
